/* Most important colors:
   #d68b58 #efa94b #486c92 #6789b3 */
   
/* General stuff */

body {
  background-color: #6789b3;
  color: #2c2c2c;
  font-family: sans-serif;
  font-size: 15px; 
  line-height: 1.6;
}

h1 {
  color: #ffffff;
}

h2, h3 {
  color: #2c2c2c;
}
   
/* == Index.qmd == */

.start-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  margin-bottom: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 2em;
  margin-bottom: 0em;
}

/* All button related stuff */
.start-buttons {
  width: 100%;
  max-width: 420px;
}

.btn {
  border-radius: 22px;
  padding: 14px 24px;
  font-size: 1.1em;
  margin: 10px 0;
  width: 100%;
  border: none;
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: #efa94b;
  color: #ffffff;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #d68b58;
  transform: translateY(-2px);
}

/* Speech bubble related stuff */

.dr-owl {
  max-width: 400px;
  width: 80%;
  margin-top: 2em;
}

.speech-bubble {
  position: relative;
  background: rgba(255, 255, 255, 0.96);
  color: #2c2c2c;
  padding: 1em 1.3em;
  border-radius: 50px;
  max-width: 750px;
  font-size: 1.4em;
  text-align: justify;
  box-shadow: 0 8px 22px rgba(0,0,0,0.18);
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 30%;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 18px solid rgba(255,255,255,0.96);
}

/*== Quiz Layout ==*/

.question-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 1em 2em 2em 2em;
  max-width: 900px;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.18);
}

.question-box .callout {
  border: none;
  border-radius: 14px;
  padding: 1.4em 1.6em;
  background: #f6f7f9;
}

.question-box .callout-tip {
  background: #F2B46B;
}

.question-box .callout-warning {
  background: #F2B46B;
}

.question-box .callout-important {
  background: #F2B46B;
}

.question-box .callout-important:hover {
  background-color: #F6C98F;
  transform: translateY(-5px);
}
.question-box .callout-warning:hover {
  background-color: #F6C98F;
  transform: translateY(-5px);
  
}.question-box .callout-tip:hover {
  background-color: #F6C98F;
  transform: translateY(-5px);
}

.inside-box {
  border: none;
  border-radius: 18px;
  padding: 0.3em 1.5em;
  background: #f6f7f9;
}

.answer-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 1em 2em 2em 2em;
  max-width: 900px;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.18);
}

.answer-box .callout {
  border: none;
  border-radius: 18px;
  padding: 1em 1.5em;
  background: #f6f7f9;
}

.answer-box .callout-important {
  background: #F2B46B;
}


/* progress bar stuff */

.progress-outside {
  height: 40px;
  background: #E9EEF6;
  max-width: 900px;
  border-radius: 90px;
}


.progress-inside-30
{
  height: 40px;
  background: #F2B46B;
  max-width: 210px;
  border-radius: 90px;
}

.progress-inside-80 {
  height: 40px;
  background: #F2B46B;
  max-width: 560px;
  border-radius: 90px;
}

.progress-inside-100 {
  height: 40px;
  background: #F2B46B;
  max-width: 700px;
  border-radius: 90px;
}
.number-inside {
  height: 40px;
  background: #F2B46B;
  max-width: 70px;
  border-radius: 90px;
  padding-left: 1.2em;
}